body{
background-color: #ECF0F1;
}

.allthecontent{
	width:1050px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	min-height:900px; /*CHANGE THIS*/
}

.main{
	width:700px;
	clear:both;
}


.side{
	width:350px;
	overflow: hidden;
}

.animal .display{
	float:left;
	display:block;
	width:400px;
	height:400px;
	margin-left:auto;
	margin-right: auto;
	background-color: fuchsia;
}

.main h1{
	text-align: center;
}

.main .animal{
	width:450px;
	float:left;
	min-height:900px; /*CHANGE THIS*/
	border-right:2px solid black;
	text-align: center;
}

.main .stats{
	width:250px;
	float:left;
	margin-left:0px;
	padding-left:0px;
	min-height:900px; /*CHANGE THIS*/
	border-right:2px solid black;
}

.side h1{
	font-size: 35px;
	text-align: center;
}

.stats ul{
	list-style: none;
}

#itemlist{
	min-height:50px;
	margin-bottom: 5px;
}

.nav-tabs{
}

#itemlist ul, #itemlist li{
	list-style: none;
	display: inline;
	margin: 0px;
	margin-top: 5px;
	margin-left:5px;
	padding: 0px;
}

#itemlist img{
	border: black 1px solid;
}

#itemdetails{
	border-top:2px solid black;	
	padding-left:10px;
}

#itemdetails h1{
	text-align: center;
}

#buttonid{
	width:100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}